#doc{
	background: #fff;
	min-width: 1190px;
	width:100%;
	color:#666;
}
#hdtop{
	background: #eee;
}
.top-side{
	width:1190px;
	margin:0 auto;
	height: 34px;
    border-bottom: 1px solid #fff;
}
.top-side .top-entry{
	float: left;
    height: 34px;
    padding-left: 4px;
    color: #d4d4d4;
}
.top-entry li{
	float: left;
	position: relative;
}
.top-entry .collect{
	float: left;
    line-height: 34px;
    padding-left: 27px;
    margin: 0 6px;
    color: #666;
    font-weight: normal;
}
.top-entry .collect s{
	background-position: -225px 0;
}

.top-entry .separator{
    width: 0;
    height: 14px;
    line-height: 14px;
    position: relative;
    top: 10px;
    left: 0;
    font-size: 0;
    overflow: hidden;
    border-left: 1px solid #ccc;
    margin: 0 4px;
}
.top-entry .wechat{
	width: 79px;
    height: 34px;
}
.top-entry .log-wechat{
	position: relative;
	height:34px;
	width: 79px;
}
.top-entry .log-wechat s{
	background-position: -225px -57px;
}
.top-entry .wechat1{
	width: 40px;
    margin: 0;
    padding: 0 6px 0 31px;
    float: left;
    color: #666;
    z-index: 1;
    line-height: 34px;
    font-weight: normal;
}
.top-entry .wechat1 b{
	position: absolute;
    left: 62px;
    top: 16px;
    width: 9px;
    height: 5px;
    overflow: hidden;
    background: url(../image/header-01.png) -175px -111px no-repeat;
    transition: all 300ms;
}
.top-entry a:hover{
	color: #e5004f;
}
.top-entry .wechat1 .blank{
	display: block;
    width: 123px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500;
    overflow: hidden;
    background-color: #fff;
    display: none;
}
.top-entry li a s{
	position: absolute;
    top: 7px;
    left: 6px;
    z-index: 2;
    width: 21px;
    height: 21px;
    background: url(../image/header-02.png) 0 0 no-repeat;
    
}
.wechat .yt-wechat{
	position: absolute;
    top: 34px;
    left: 0;
    display: none;
    width: 100px;
    height: 100px;
    z-index: 1;
    padding: 8px 12px 10px;
    box-shadow: 0 0 8px #cdcdcd;
    background: #fff;
}
.wechat .yt-wechat img{
	border: 0;
}
.top-entry .log-yt-phone{
	width: 148px;
    height: 34px;
}
.top-entry .log-phone{
	width: 148px;
    height: 34px;
    position: relative;
}
.top-entry .log-link{
	width: 72px;
    margin: 0;
    padding-left: 28px;
    line-height: 34px;
    color: #666;
    font-weight: normal;
    float: left;
}
.top-entry .log-link s{
	height: 20px;
    background: url(../image/phone.png) center 0 no-repeat;
}
.top-entry .log-link b{
	position: absolute;
    left: 90px;
    top: 16px;
    width: 9px;
    height: 5px;
    overflow: hidden;
    transition: all 200ms;
    background: url(../image/header-01.png) -175px -111px no-repeat;
}
.top-entry .log-link .blank{
	width: 147px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    overflow: hidden;
    display: none;
    background-color: #fff;
}
.top-entry .yt-phone{
	position: absolute;
    top: 34px;
    left: 0;
    width: 134px;
    height: 145px;
    padding: 8px 7px 10px;
    box-shadow: 0 0 8px #cdcdcd;
    background: #FFFFFF;
    display: none;
}
.top-logs{
	float: right;
	height: 34px;
}
.top-logs a{
	color: #666;
	font-weight: normal;
	
}
.top-logs a:hover{
	color: #e5004f;
}
.top-logs li{
	float: left;
	height: 34px;
	line-height: 34px;
	position: relative;
}
.top-logs .log-user{
	padding-right: 10px;
}
.top-logs .log-user .login{
	margin-right: 10px;
}
.top-logs .separator{
    width: 0;
    height: 14px;
    line-height: 14px;
    top: 10px;
    left: 0;
    font-size: 0;
    overflow: hidden;
    border-left: 1px solid #ccc;
    margin: 0 2px;
}
.top-logs .log-link{
	width: 62px;
	height: 26px;
    padding: 8px 10px 0;
    float: left;
    line-height: 18px;
}
.top-logs .log-link b{
	position: absolute;
    left: 62px;
    top: 16px;
    width: 9px;
    height: 5px;
    overflow: hidden;
    transition: all 200ms;
    background: url(../image/header-01.png) -175px -111px no-repeat;
}
.top-logs .log-link .blank{
	width: 82px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500;
    display: block;
    overflow: hidden;
    display: none;
    background-color: #fff;
}
.log-yt-home .yt-myhome{
	z-index: 1;
	display: none;
	position: absolute;
    top: 34px;
    left: 0;
    clear: both;
    width: 82px;
    box-shadow: 0 0 8px #cdcdcd;
    background-color: #fff;
}
.yt-myhome p{
	height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #dcdcdc;
}
.yt-myhome a{
	display: block;
    text-indent: 10px;
}
.yt-myhome a:hover{
    color: #e5004f;
    text-decoration: underline;
}
.top-banner{
	min-height: 80px;
}
.top-banner a{
	display: block;
    min-height: 80px;
    background: url(../image/xiazai.png)no-repeat center top;
}
.hdmain{
	height: 120px;
    background-color: #fff;
}
.hdmain .top-main{
	width: 1190px;
    margin: 0 auto;
}
.top-main h1{
	float: left;
    width: 215px;
    height: 76px;
    margin-top: 21px;
}
.top-main h1 a{
	display: block;
    overflow: hidden;
    width: 215px;
    height: 76px;
   
   background: #eee url(../image/header-20160223.gif) 0 0 no-repeat;
}
.hdmain .itype{
	float: left;
    width: 145px;
    height: 80px;
    margin-top: 18px;
    overflow: hidden;
}
#J-MiniCart{
	float: right;
    width: 160px;
    height: 34px;
    margin: 40px 0 0 18px;
    position: relative;
}
#J-MiniCart .minishop{
	display: block;
    width: 160px;
    height: 34px;
    background: #323333 url(../image/header-01.png) -55px -76px no-repeat;
}
#J-MiniCart .minishop span{
	float: left;
    height: 34px;
    line-height: 34px;
    padding-left: 48px;
    color: #fff;
}
#J-MiniCart .minishop b{
	float: right;
    margin-right: 20px;
    margin-top: 16px;
    width: 7px;
    height: 4px;
    overflow: hidden;
    background: url(../image/header-01.png) -189px -111px no-repeat;
}
#J-CartCount{
	padding: 0 5px;
    font: 400 16px/34px Arial;
    color: #e5004f;
    vertical-align: middle;
}
#J-ShopCart{
	display: none;
	position: absolute;
    right: 0;
    top: 34px;
    width: 290px;
    box-shadow: 0 0 8px #cacaca;
    background-color: #fff;
    z-index: 50;
}
#J-ShopCart .yt-bags-nothing{
	
	width: 290px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.top-main .isearch{
	float: right;
    width: 498px;
    margin-top: 40px;
    position: relative;
}
.isearch .searchbox{
	width: 494px;
    height: 30px;
    margin-bottom: 8px;
    border: 2px solid #323333;
}
.isearch .searchbox input{
	width: 440px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    float: left;
    background: transparent;
    border: none;
    color: #888;
}
.isearch #J_SearchBtn{
	float: left;
    width: 44px;
    height: 30px;
    text-indent: -1000em;
    border: none;
    overflow: hidden;
    cursor: pointer;
    background: #323333 url(../image/header-01.png) 0 -78px no-repeat;
}
.isearch #hotKeyWord{
	width: 498px;
    height: 18px;
    overflow: hidden;
}
.isearch #hotKeyWord a{
	float: left;
    margin-right: 12px;
    color: #888;
}
#hotKeyWord a:hover{
	text-decoration: underline;
    color: #e5004f;
}
#hdmenu{
	border-bottom: 1px solid #2d2e2e;
    background: #fff;
}
#hdmenu .top-menu{
	height: 39px;
    position: relative;
    width: 1190px;
    margin: 0 auto;
}
.top-menu .munu-cate{
	float: left;
    width: 210px;
    height: 39px;
    position: relative;
}
.munu-cate a{
	position: absolute;
    width: 210px;
    height: 39px;
    display: block;
    float: left;
    font: 400 18px/39px "\5fae\8f6f\96c5\9ed1";
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #222;
    
}
.top-menu .nav-rr{
	float: right;
    height: 38px;
    padding-top: 1px;
    color: #cbcbcb;
}
.top-menu .nav-rr a{
	margin: 0 8px;
    font: 400 14px/38px "\5fae\8f6f\96c5\9ed1";
}
.top-menu .nav-rr a:hover{
	color: #e5004f;
}
/*tu*/
#tu{width: 100%;height: 100%;margin: 0 auto;background: url(../image/dl.jpg) center;}
#tu img{display: block;margin: 0 auto;width: 100%;height: 100%;}
#tu .list{width:100%;margin: 0 auto; height: 1436px;background:url(../img/b2.jpg)center}
#tu .list h1{width: 1190px;margin: 0 auto;}
#tu .list h2{width: 1190px;margin: 0 auto;}
#tu .list h3{width: 1190px;margin: 0 auto;}
#tu .list h4{width: 1190px;margin: 0 auto;}
#tu .list2{width:100%;margin: 0 auto; height: 1698px;background:url(../image/b2.jpg)center}
#tu .list2 h1{width: 1190px;margin: 0 auto;}
#tu .list2 h2{width: 1190px;margin: 0 auto;}
#tu .list2 h3{width: 1190px;margin: 0 auto;}
#tu .list2 h4{width: 1190px;margin: 0 auto;}
#tu .list2 h5{width: 1190px;margin: 0 auto;}





/*foot*/
.foot{
	width: 1188px;
    height: 88px;
    
    overflow: hidden;
    border: 1px solid #eee;
    background-color: #f7f7f7;
    
    margin: 0 auto;
    margin-bottom: 35px;
}
.foot span{
	float: left;
    border-right: 1px solid #eee;
    font-family: "\5fae\8f6f\96c5\9ed1";
}
.foot .service{
	width: 282px;
    height: 68px;
    padding: 20px 0 0 45px;
}
.foot .service strong{
	display: inline-block;
    padding: 0 20px 0 24px;
    font-size: 20px;
    font-family: Arial;
    color: #e5004f;
    background: url(../image/footer-01.png) 2px 0 no-repeat;
}
.foot span strong{
	display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.foot span strong i{
	font-style: normal;
    color: #e5004f;
}
.foot .service i{
	font-style: normal;
}
.foot .service b{
	padding-left: 24px;
    font-size: 14px;
    font-family: Arial;
    background: url(../image/footer-01.png) 0 -28px no-repeat;
}
.foot span b{
	font-weight: 400;
    color: #888;
}
.foot .genuine{
	width: 182px;
    height: 65px;
    padding: 23px 0 0 104px;
    background: url(../image/footer-01.png) 52px -132px no-repeat;
}
.foot .delivery{
	width: 186px;
    height: 65px;
    padding: 23px 0 0 100px;
    background: url(../image/footer-01.png) 52px -56px no-repeat;
	
}
.foot .freight{
	width: 140px;
    border-right: none;
    height: 65px;
    padding: 23px 0 0 115px;
    background: url(../image/footer-01.png) 52px -203px no-repeat;
}
.ilinks{
	display: block;
	text-align: center;
    
    width: 1190px;
    margin: 0 auto;
    margin-bottom: 25px;
    overflow: hidden;
}
.ilinks a{
	margin: 0 10px;
    color: #757575;
}
.ilinks a:hover{
	color: #e5004f;
}
.copyright{
	text-align: center;
	width: 1190px;
    margin: 0 auto;
}
.copyright p{
	line-height: 22px;
    color: #b2b2b2;
}
.copyright p a{
	margin: 0 6px;
    color: #b2b2b2;
}
.last{
	padding: 10px 0 20px;
    text-align: center;
    width: 1190px;
    margin: 0 auto;
}
.last a{
	display: inline-block;
    margin: 0 12px;
    vertical-align: middle;
}
.float_nav{
	display: none;
	width: 50px;
    height: 545px;
    position: fixed;
    left: 50%;
    bottom: 20px;
    margin-left: 600px;
}
.float_nav a{
	display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    padding: 5px 10px 15px;
    line-height: 999px;
    overflow: hidden;
    background: url(../image/floor_nav.png) 0 0 no-repeat;
}
.float_nav .Y_floor_mp{
	background-position: 0 0;
}
.float_nav .Y_floor_wz {
    background-position: 0 -55px;
}
.float_nav .Y_floor_nz {
    background-position: 0 -110px;
}
.float_nav .Y_floor_xx {
    background-position: 0 -165px;
}
.float_nav .Y_floor_xb {
    background-position: 0 -220px;
}
.float_nav .Y_floor_hf {
    background-position: 0 -275px;
}
.float_nav .Y_floor_yd {
    background-position: 0 -330px;
}
.float_nav .Y_floor_ps {
    background-position: 0 -385px;
}
.float_nav .Y_floor_ty {
    background-position: 0 -440px;
}
.float_nav .Y_floor_top {
    background-position: 0 -495px;
}
.float_nav a:hover{
	background-image: none;
    line-height: 18px;
    background: #e5004f;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.float_nav a.active{
	background-image: none;
    line-height: 18px;
    background: #e5004f;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
